/*******************************************************
*
*  CSS used for CSS System Colors Demonstration Pages
*  Use CSS as much as possible to handle light vs dark mode and contrast
*
*/
/* https://codepen.io/sarajw/pen/eYwLaYp */
/* https://codepen.io/sarajw/pen/eYwLaYp*/
/*
#syscolors-demo-container {
  color: CanvasText;
  background-color: Canvas;
  padding: 1rem;

  --theme-oklch: oklch(50% 0.25 var(--hue, 222));
  --theme-hsl: hsl(var(--hue, 222) 75% 50%);
}

#syscolors-demo-container > div {
  margin-block: 1rem 0;
}

#syscolors-demo-container {
  div.oklch {
    background-color: var(--theme-oklch);
  }

  div.hsl {
    background-color: var(--theme-hsl);
  }

  p {
    padding: 1rem;
  }

  p.oklch {
    color: color-mix(in oklab, CanvasText 75%, var(--theme-oklch));
    background-color: color-mix(in oklab, Canvas 75%, var(--theme-oklch));
  }

  p.hsl {
    color: color-mix(in oklab, CanvasText 75%, var(--theme-hsl));
    background-color: color-mix(in oklab, Canvas 75%, var(--theme-hsl));
  }
}

div > div {
  display: inline-block;
  width: 2rem;
  height: 1rem;
  border: 1px solid;
}
  */

/*https://www.digitalocean.com/community/tutorials/css-minimal-css-reset*/
/* NO Need for reset, just ensure syscolors-container styles don't leak thru - or anything to root */
#syscolors-demo {
  color: CanvasText;
  background-color: Canvas;

  /* from https://www.color-meanings.com/light-color-palettes/ 
  Pale Robin Egg, blue, Azure (web), Mimi pink, Beige, Straw
  or #F8AC8C, #FBE4C4, #F9F4F0, #D2E4E8, #DEACD1 */
  --light-primary: #96dfce;
  --light-secondary: #ddecef;
  --light-tertiary: #f8d5db;
  --light-contrast: #eff1d9;
  --light-bright: #f1eb86;
  /*https://piktochart.com/tips/dark-color-palette: deep indigo, rich violet, soft lavender, crisp white */
  --dark-primary: #4b0082;
  --dark-secondary: #6a0f8a;
  --dark-tertiary: #8a2be2;
  --dark-contrast: #da70d6;
  --dark-bright: #f5f5f5;

  /* traditional desktop user agent colors for hyperlinks, per https://drafts.csswg.org/css-color/#sample */
  :link {
    color: LinkText;
  }
  :visited {
    color: VisitedText;
  }
  /* NOT included in CSS spec: :hover & :focus */
  :hover {
    color: light dark(var(--light-primary), var(--dark-primary));
  }
  :focus {
    color: light dark(var(--light-secondary), var(--dark-secondary));
  }

  :active {
    color: ActiveText;
  }
}

#myWebSite {
  padding: 1rem;
  /* width: fit-content;*/
  width: 90%;
  margin: 1rem auto;

  border: 1px solid CanvasText;
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem -1.25rem CanvasText;

  display: flex;
  flex-wrap: wrap;
  /*justify-content: flex-start;*/
}

#myWebSite nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid light dark(var(--light-primary), var(--dark-primary));
    background-color: light dark(var(--light-bright), var(--dark-bright));
  }

  li {
    float: left;
  }

  li a {
    display: block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
  }

  li a:hover:not(.active) {
    background-color: light dark(var(--light-contrast), var(--dark-contrast));
    color: light dark(var(--light-tertiary), var(--dark-tertiary));
  }

  li a.active {
    background-color: light dark(var(--light-secondary), var(--dark-secondary));
    color: light dark(var(--light-bright), var(--dark-bright));
  }
}

#myWebSite section {
  display: flex;
  justify-content: space-between;
  align-content: stretch;

  width: 90%;
  padding: 1rem;

  background-color: Canvas;
  color: CanvasText;

  border: 1px solid CanvasText;
  border-radius: 0.5em;
}

#myWebSite .card {
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: canvasText 0px 10px 20px, canvasText 0px 6px 6px;
*/
  transition: 0.3s;
  width: 20rem;
  height: 10rem;
  margin: 0.5rem;
  border: 1px solid green;
  border-radius: 0.5em;
  box-shadow: 0 2px 4px 0 CanvasText;

  :hover {
    box-shadow: 0 8px 16px 0 canvasText;
  }

  img {
    border-radius: 5px 5px 0 0;
  }

  .container {
    padding: 2px 16px;
  }
}

#myWebSite aside {
  display: inline-block;
  width: 30%;
  height: 5rem;
  padding-left: 15px;
  margin-right: 10px;
  float: right;

  background-color: light dark(var(--light-primary), var(--dark-primary));
  color: light dark(var(--light-bright), var(--dark-bright));

  border: 1px dashed CanvasText;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 CanvasText;
}

#myWebSite blockquote {
  float: right;
  height: 5rem;
  margin: 0.5em 0.5em;
  font-size: 85%;
  border-left: 2px solid CanvasText;
  padding-left: 1em;
}

#myWebSite main {
  width: 100%;
  /*
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  justify-content: flex-start;*/
}

#mmyWebSite footer {
  background-color: Canvas;
  color: CanvasText;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.UNUSED-syscolors-break {
  flex-basis: 100%;
  height: 0;
}

#myForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1ex;

  padding: 1rem 2rem 2rem;
  width: fit-content;
  margin: 3rem auto;

  border: 1px solid silver;
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem -1.25rem CanvasText;
}

/*
Canvas - application content or documents
Accent - accented user interface controls
Field - input fields
Mark - specially marked with 'mark' tag
ButtonFace - push buttons
SelectedItem - selected items
::selection - Text of selected text Background of selected text, for example from : :selection
a:link - non-active, non-visited links
a.visited - visited links
a:hover - hovered links
a:focus - focused links
a:active - active links
GrayText - disabled text
*/
