/*******************************************************
*
*  CSS used for CSS System Colors Demonstration Pages
*  Use CSS as much as possible to handle light vs dark mode and contrast
*
*/

#syscolors-demo-light,
#syscolors-demo-dark {
  max-width: 46%;
  margin: 0rem auto;
  padding: 0 1rem;

  h3 {
    margin-left: 1rem;
  }
}

.myWebSite,
.myForm {
  width: fit-content;
  max-width: 95%;

  padding: 1rem 2rem;
  margin: 1rem auto;

  border: 1px solid CanvasText;
  border-radius: 0.5rem;
  box-shadow: 0 0 2rem -1.25rem Canvas;
}

.myWebSite {
  font-family: "Delius", cursive;

  /* #region(collapsed) website additional highlight colors */
  /* Formally these rules should be applied to 'root:', NOT '.myContainer'. Your mileage may vary. */
  --light-primary: rgba(248, 172, 140, 0.9);
  --light-primary-rgba: 248, 172, 140, 0.9;
  --light-contrast: rgba(46, 155, 180, 1);
  --light-contrast-rgba: 46, 155, 180, 1;
  /*https://piktochart.com/tips/dark-color-palette: deep indigo, rich violet, soft lavender, crisp white */
  --dark-primary: rgba(138, 68, 189, 0.9);
  --dark-primary-rgba: 138, 68, 189, 0.9;
  --dark-contrast: rgba(231, 143, 228, 1);
  --dark-contrast-rgba: 231, 143, 228, 1;

  /* The light-dark function REQUIRES "color-scheme: light dark;" be set */
  /* To use val's directly... */
  --primary: light-dark(var(--light-primary), var(--dark-primary));
  --primary-rgba: light-dark(
    var(--light-primary-rgba),
    var(--dark-primary-rgba)
  ); /* BUG:  var(--light-primary-rgba); works, this doesn't */
  --contrast: light-dark(var(--light-contrast), var(--dark-contrast));
  --contrast-rgba: light-dark(
    var(--light-contrast-rgba),
    var(--dark-contrast-rgba)
  );

  /* Or to use classes... */
  .primary {
    color: light-dark(var(--light-primary), var(--dark-primary));
  }
  .contrast {
    color: light-dark(var(--light-contrast), var(--dark-contrast));
  }
  /* #endregion */

  /* #region(collapsed) Super minimal CSS reset */
  h1 {
    font-size: 1.5em;
    margin: 0.67em 0;
    color: var(--contrast);
  }

  html,
  body,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* color: CanvasText; */
    color: var(--primary);
    background-color: Canvas;
  }

  div,
  p,
  ol,
  ul {
    color: CanvasText;
    background-color: Canvas;
    max-width: 100%;
  }
  /* #endregion */

  /* #region(collapsed) page regions */
  header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5ex;
  }

  main {
    width: fit-content;
    max-width: 100%;
  }

  section {
    display: flex;
    justify-content: space-between;
    /*align-content: stretch;
    width: 90%;*/
    max-width: 100%;
    padding: 1rem;

    background-color: Canvas;
    color: CanvasText;

    border: 1px solid CanvasText;
    border-radius: 0.5rem;
  }

  footer {
    background-color: Canvas;
    color: var(--contrast);
    width: 100%;
    padding-top: 0.5rem;
    text-align: center;
    font-weight: bold;
  }

  code {
    color: var(--contrast);
    padding: 0;
    max-width: 100%;
  }

  UNUSED-article {
    color: var(--contrast);
    background-color: Canvas;
  }
  /* #endregion */

  .colorPalette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .picker {
      border-radius: 1rem;
      padding: 0.5rem;
      font-weight: bold;
      margin: 0.5rem 0.5rem 0;
    }

    .picker:hover {
      border: black 2px solid;
    }
  }

  /* #region(collapsed) Nav Bar */
  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: var(--contrast);
      width: fit-content;
    }

    li {
      float: left;
      border: 1px solid CanvasText;
    }

    li a {
      display: block;
      text-align: center;
      padding: 8px 16px;
      text-decoration: none;
      font-weight: bold;
    }

    li a:hover:not(.active) {
      background-color: light-dark(var(--light-contrast), var(--dark-contrast));
      /*color: light-dark(var(--light-contrast), var(--dark-contrast));*/
      color: light-dark(var(--light-primary), var(--dark-primary));
    }

    li a.active {
      background-color: var(--primary);
      color: var(--contrast);
      /*color: light-dark(var(--light-bright), var(--dark-bright));*/
    }
  }
  /* #endregion */

  .card {
    width: 10rem;
    height: 6rem;
    margin-right: 0.5rem;
    border: 1px solid green;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px 0 CanvasText;

    img {
      border-radius: 0.5rem 0 0 0;
    }

    .container {
      padding-left: 6px;
      h4,
      p {
        padding: 0;
        margin: 0;
      }
    }
  }

  UNUSED_aside {
    display: block;
    width: 30%;
    height: 5rem;
    padding-left: 15px;
    margin-right: 10px;
    float: right;

    background-color: var(--primary);

    border: 1px dashed CanvasText;
    border-radius: 0.5rem;
    box-shadow: 0 2px 3px 0 CanvasText;
  }

  blockquote {
    float: right;

    background-color: CanvasText;
    color: Canvas;

    padding: 0.75rem 1.25rem 0.5rem 1.5rem;
    margin: 0;
    width: fit-content;

    font-style: italic;
    font-size: 125%;

    border-left: AccentColor 6px dotted;
    border-right: AccentColor 5px solid;
    border-radius: 0.5rem;
  }
}

.myForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5ex;

  input:focus {
    color: SelectedItem;
  }
}
