/**********************************************
 * Color Table Panel
 * NOTE: Also see syscolors-current-grid.css & system-colors.css!
 **/

.syscolors-row-card {
  display: inline-flex;
  justify-content: space-between;
  place-self: center stretch;

  width: 525px;

  padding: 5px;
  margin: 0.5em;

  border: 2px solid #585858;
  border-radius: 0.5em;

  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.syscolors-row-text:has(.syscolors-category-span[category="category"]) {
  --borderColor: #88888866;
}

.syscolors-row-text:has(.syscolors-category-span[category="selection"]) {
  --borderColor: #00ff0066;
}

.syscolors-row-text:has(.syscolors-category-span[category="general"]) {
  --borderColor: #ca648a66;
}
.syscolors-row-text:has(.syscolors-category-span[category="interface"]) {
  --borderColor: #ff00ff66;
}

.syscolors-row-text:has(.syscolors-category-span[category="links"]) {
  --borderColor: #ffff0066;
}

.syscolors-row-text:has(.syscolors-category-span[category="input-button"]) {
  --borderColor: #00ffff66;
}

.syscolors-row-text:has(.syscolors-category-span[category="input"]) {
  --borderColor: #80c8c866;
}

/* additional deprecated categories...*/
.syscolors-row-text:has(.syscolors-category-span[category="window"]) {
  --borderColor: #ec57ec66;
}

.syscolors-row-text:has(.syscolors-category-span[category="MDI"]) {
  --borderColor: #73f29366;
}

.syscolors-row-text:has(.syscolors-category-span[category="tooltip"]) {
  --borderColor: #458fd466;
}

.syscolors-row-text:has(.syscolors-category-span[category="3D"]) {
  --borderColor: #cdf27666;
}

.syscolors-tall-row {
  --rowHeight: 150px;
}

.syscolors-row-text {
  border: 2px solid var(--borderColor);
  border-left: 30px solid var(--borderColor);
  border-radius: 0.5em;

  position: relative;
  font-size: small;
  display: inline-block;

  padding: 3px;

  width: 200px;
  height: val(--rowHeight);
}

.syscolors-row-text .syscolors-category-span {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: absolute;
  padding: 0.25em 0.5em;
  margin-left: -30px;
  bottom: -21px;
  font-size: x-small;
  font-weight: bold;
  transform: rotate(270deg);
  transform-origin: 0 0;
}

.syscolors-row-light {
  color-scheme: light;
  border: 2px solid black;
  padding: 5px;
  border-radius: 0.5em;
  height: val(--rowHeight);
  width: 150px;
}

.syscolors-row-dark {
  color-scheme: dark;
  border: 2px solid black;
  padding: 5px;
  border-radius: 0.5em;
  height: val(--rowHeight);
  width: 150px;
}

.syscolors-row-card .syscolors-name-span {
  font-weight: bold;
  font-size: small;
}

.syscolors-desc-span {
  font-size: 90%;
  font-weight: 500;
}

.syscolors-color-span {
  font-size: 90%;
  font-weight: 500;
}
