/****************************************************
 * System Color Grids
**/

.syscolors-card {
  display: inline-flex;
  justify-content: space-between;
  place-self: center stretch;

  flex: 0 1; /* flex: 0 24% */

  width: 200px;
  height: 120px;

  font-weight: bolder;

  margin: 15px; /* (100-32*3)/2 */
  padding: 10px;

  /*background-color: rgb(from currentcolor r g b);*/

  border: solid 2px var(--borderColor);
  border-left: 30px solid var(--borderColor);
  border-radius: 1em;

  font-size: small;

  /*
  border-top-color: white;
  border-right-color: white;
  border-bottom-color: black;
  border-left-color: canvasText;
*/

  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.syscolors-card:has(.syscolors-category-span[category="category"]) {
  --borderColor: #88888866;
}

.syscolors-card:has(.syscolors-category-span[category="selection"]) {
  --borderColor: #00ff0066;
}

.syscolors-card:has(.syscolors-category-span[category="general"]) {
  --borderColor: #ca648a66;
}
.syscolors-card:has(.syscolors-category-span[category="interface"]) {
  --borderColor: #ff00ff66;
}

.syscolors-card:has(.syscolors-category-span[category="links"]) {
  --borderColor: #ffff0066;
}

.syscolors-card:has(.syscolors-category-span[category="input-button"]) {
  --borderColor: #00ffff66;
}

.syscolors-card:has(.syscolors-category-span[category="input"]) {
  --borderColor: #80c8c866;
}

/* additional deprecated categories...*/
.syscolors-card:has(.syscolors-category-span[category="window"]) {
  --borderColor: #ec57ec66;
}

.syscolors-card:has(.syscolors-category-span[category="MDI"]) {
  --borderColor: #73f29366;
}

.syscolors-card:has(.syscolors-category-span[category="tooltip"]) {
  --borderColor: #458fd466;
}

.syscolors-card:has(.syscolors-category-span[category="3D"]) {
  --borderColor: #cdf27666;
}

.syscolors-category-span {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: absolute;
  padding: 0.25em 0.5em;
  /*
  margin-left: -30px;
  bottom: -21px;
  */
  font-size: x-small;
  font-weight: bold;
  transform: rotate(270deg);
  transform-origin: 0 0;
}

.ssssyscolors-name-span {
  border: 2px solid var(--borderColor);
  border-left: 30px solid var(--borderColor);
  position: relative;
  font-size: small;
  display: inline-block;
  padding: 3px;
  border-radius: 0.5em;
  width: 200px;
  height: 70px;
}

.syscolors-desc-div {
  font-weight: 400;
}

.syscolors-desc-span {
  font-size: 90%;
  font-weight: 500;
}

.syscolors-rgba-span {
  font-size: 80%;
  font-weight: 400;
}
