/****************************************************
 * System Color Grids
**/

.syscolors-card {
  display: inline-flex;
  justify-content: space-between;
  place-self: center stretch;
  flex: 0 1;

  font-weight: bolder;

  margin: 0.5em;

  border: solid 2px var(--borderColor);
  border-left: 30px solid var(--borderColor);
  border-radius: 0.5em;

  /*background-color: rgb(from currentcolor r g b);*/

  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.syscolors-card:has(.syscolors-category-span[category="category"]) {
  --borderColor: #88888844;
}
/* #region(collapsed) card */

.syscolors-card:has(.syscolors-category-span[category="selection"]) {
  --borderColor: #00ff0044;
}

.syscolors-card:has(.syscolors-category-span[category="general"]) {
  --borderColor: #ca648a44;
}
.syscolors-card:has(.syscolors-category-span[category="interface"]) {
  --borderColor: #ff00ff44;
}

.syscolors-card:has(.syscolors-category-span[category="links"]) {
  --borderColor: #ffff0044;
}

.syscolors-card:has(.syscolors-category-span[category="input-button"]) {
  --borderColor: #00ffff44;
}

.syscolors-card:has(.syscolors-category-span[category="input"]) {
  --borderColor: #80c8c844;
}

/* additional deprecated categories...*/
.syscolors-card:has(.syscolors-category-span[category="window"]) {
  --borderColor: #ec57ec44;
}

.syscolors-card:has(.syscolors-category-span[category="MDI"]) {
  --borderColor: #73f29344;
}

.syscolors-card:has(.syscolors-category-span[category="tooltip"]) {
  --borderColor: #458fd444;
}

.syscolors-card:has(.syscolors-category-span[category="3D"]) {
  --borderColor: #cdf27644;
}
/* #endregion */
.syscolors-tall-row {
  --rowHeight: 130px;
}

.syscolors-card-inner {
  border-radius: 0.5em;

  position: relative;
  font-size: small;
  display: inline-block;

  padding: 5px;

  width: 200px;
  height: var(--rowHeight);
}

.syscolors-card .syscolors-category-span {
  font-size: 0.85rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: absolute;
  color: black;

  margin-left: -26px; /* bigger # sends it leftward */
  margin-top: 55px; /* bigger # sends it downward */

  font-size: 0.75rem;
  font-weight: bold;

  transform: rotate(270deg);
  transform-origin: 0 0;
}

.syscolors-card-inner .syscolors-name-span {
  font-size: small;
  padding: 3px;
}

.syscolors-desc-span {
  font-size: 90%;
  font-weight: 500;
}

.syscolors-rgba-span {
  font-size: 90%;
  font-weight: 500;
}
