/*******************************************************
*
*  CSS used for CSS System Colors Demonstration Pages
*  Use CSS as much as possible to handle light vs dark mode and contrast
*
*/

#syscolors-demo {
  /* traditional desktop user agent colors for hyperlinks, per https://drafts.csswg.org/css-color/#sample */
  a:link {
    color: LinkText;
  }
  a:visited {
    color: VisitedText;
  }

  /* NOT included in above CSS spec: :hover & :focus 
  a:hover {
    color: light-dark(var(--light-primary), var(--dark-primary));
  }
  a:focus {
    color: light-dark(var(--light-secondary), var(--dark-secondary));
  }
*/

  /* BUG: This next rule affects the entire page, not just the actual link text! */
  a:active {
    color: ActiveText;
  }
}

.myWebSite {
  padding: 1rem;
  /* width: fit-content;*/
  max-width: 90%;
  margin: 1rem auto;

  border: 1px solid CanvasText;
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem -1.25rem CanvasText;

  display: flex;
  flex-wrap: wrap;
  /*justify-content: flex-start;*/

  /* Formally these rules should be applied to 'root:', NOT '.myContainer'. Your mileage may vary. */
  --light-primary: rgb(248, 172, 140);
  --light-primary-rgb: 248, 172, 140;
  --light-secondary: rgb(251, 228, 196);
  --light-contrast: rgb(46, 155, 180);
  /*https://piktochart.com/tips/dark-color-palette: deep indigo, rich violet, soft lavender, crisp white */
  --dark-primary: rgb(138, 68, 189);
  --dark-primary-rgb: 138, 68, 189;
  --dark-secondary: rgb(195, 26, 161);
  --dark-contrast: rgb(231, 143, 228);

  /* Use of the light-dark function REQUIRES that "color-scheme: light dark;" is set, generally at the root or the html tag */
  /* To use val's directly... */
  --primary: light-dark(var(--light-primary), var(--dark-primary));
  --primary-rgb: light-dark(var(--light-primary-rgb), var(--dark-primary-rgb));
  --secondary: light-dark(var(--light-secondary), var(--dark-secondary));
  --contrast: light-dark(var(--light-contrast), var(--dark-contrast));

  /* super minimal CSS reset */
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  article {
    /* color: CanvasText; */
    color: var(--primary);
    background-color: Canvas;
  }

  div,
  p,
  ol,
  ul {
    color: CanvasText;
    background-color: Canvas;
  }

  code {
    color: var(--contrast);
    background-color: rgba(var(--primary-rgb), 0.8);
    padding: 0;
  }
  pre {
    background-color: rgba(var(--primary-rgb), 0.8);
    margin: 0;
  }

  article {
    color: var(--contrast);
    background-color: Canvas;
  }

  /* Or to use classes... */
  .primary {
    color: light-dark(var(--light-primary), var(--dark-primary));
  }
  .secondary {
    color: light-dark(var(--light-secondary), var(--dark-secondary));
  }
  .contrast {
    color: light-dark(var(--light-contrast), var(--dark-contrast));
  }

  .colorPalette {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      width: fit-content;
      /* height: 6rem;*/
      padding: 0.25rem;
      margin: 0.5rem;
      border-radius: 0.5rem;
      box-shadow: 0 2px 4px 0 CanvasText;
      text-shadow: 1px 1px CanvasText;
    }

    :hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      background-color: light-dark(var(--light-tertiary), var(--dark-tertiary));
    }
  }
}

.myWebSite nav {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    background-color: var(--secondary);
  }

  li {
    float: left;
    border: 1px solid CanvasText;
  }

  li a {
    display: block;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
    font-weight: bold;
  }

  li a:hover:not(.active) {
    background-color: light-dark(var(--light-contrast), var(--dark-contrast));
    color: light-dark(var(--light-tertiary), var(--dark-tertiary));
  }

  li a.active {
    background-color: light-dark(var(--light-secondary), var(--dark-secondary));
    color: light-dark(var(--light-bright), var(--dark-bright));
  }
}

.myWebSite section {
  display: flex;
  justify-content: space-between;
  align-content: stretch;

  width: 90%;
  padding: 1rem;

  background-color: Canvas;
  color: CanvasText;

  border: 1px solid CanvasText;
  border-radius: 0.5rem;
}

.myWebSite .card {
  width: 10rem;
  height: 6rem;
  margin-right: 0.5rem;
  border: 1px solid green;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px 0 CanvasText;

  img {
    border-radius: 0.5rem 0 0 0;
  }

  .container {
    padding-left: 6px;
    h4,
    p {
      padding: 0;
      margin: 0;
    }
  }
}

.myWebSite aside {
  display: block;
  width: 30%;
  height: 5rem;
  padding-left: 15px;
  margin-right: 10px;
  float: right;

  background-color: var(--primary);

  border: 1px dashed CanvasText;
  border-radius: 5px;
  box-shadow: 0 2px 3px 0 CanvasText;
}

.myWebSite blockquote {
  float: right;

  background-color: var(--secondary);
  color: #aaa;

  padding: 0.5rem;
  padding-left: 1em;
  margin: 0.5rem;
  width: fit-content;

  font-style: italic;
  font-size: 135%;

  border-left: 4px dotted var(--contrast);
  border-radius: 0.5em;
}

.UNUSED-myWebSite main {
  width: 100%;
  /*
  display: flex;
  align-items: center;

  flex-wrap: wrap;
  justify-content: flex-start;*/
}

.myWebSite footer {
  background-color: Canvas;
  color: var(--contrast);
  width: 100%;
  padding-top: 0.5rem;
  text-align: center;
  font-weight: bold;
}

.syscolors-break {
  flex-basis: 100%;
  height: 0;
}

.myForm {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1ex;

  /*padding: 1rem 2rem;
  width: fit-content;*/
  margin: 3rem auto;

  border: 1px solid silver;
  border-radius: 1.5rem;
  box-shadow: 0 0 2rem -1.25rem CanvasText;
}

/*
Canvas - application content or documents
Accent - accented user interface controls
Field - input fields
Mark - specially marked with 'mark' tag
ButtonFace - push buttons
SelectedItem - selected items
::selection - Text of selected text Background of selected text, for example from : :selection
a:link - non-active, non-visited links
a.visited - visited links
a:hover - hovered links
a:focus - focused links
a:active - active links
GrayText - disabled text
*/

/* https://codepen.io/sarajw/pen/eYwLaYp */
/* https://codepen.io/sarajw/pen/eYwLaYp*/
/*
#syscolors-demo-container {
  color: CanvasText;
  background-color: Canvas;
  padding: 1rem;

  --theme-oklch: oklch(50% 0.25 var(--hue, 222));
  --theme-hsl: hsl(var(--hue, 222) 75% 50%);
}

#syscolors-demo-container > div {
  margin-block: 1rem 0;
}

#syscolors-demo-container {
  div.oklch {
    background-color: var(--theme-oklch);
  }

  div.hsl {
    background-color: var(--theme-hsl);
  }

  p {
    padding: 1rem;
  }

  p.oklch {
    color: color-mix(in oklab, CanvasText 75%, var(--theme-oklch));
    background-color: color-mix(in oklab, Canvas 75%, var(--theme-oklch));
  }

  p.hsl {
    color: color-mix(in oklab, CanvasText 75%, var(--theme-hsl));
    background-color: color-mix(in oklab, Canvas 75%, var(--theme-hsl));
  }
}

div > div {
  display: inline-block;
  width: 2rem;
  height: 1rem;
  border: 1px solid;
}
  */
