.syscolors-class-card {
  display: inline-flex;
  align-self: center;
  justify-self: stretch;
  place-self: center stretch;

  width: 525px;

  padding: 5px;
  margin: 0.5em;

  border: 2px solid #585858;
  border-radius: 0.5em;

  /* https://getcssscan.com/css-box-shadow-examples */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .syscolors-category-span {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    position: absolute;
    padding: 0.25em 0.5em;
    margin-left: -36px; /* bigger negative # sends it leftward */
    bottom: -20px; /* margin-top: bigger negative # sends it downward */
    font-size: x-small;
    font-weight: bold;
    transform: rotate(270deg);
    transform-origin: 0 0;
  }

  .syscolors-cell-text,
  .syscolors-cell-dark,
  .syscolors-cell-light {
    border-radius: 0.5em;
    height: calc(var(--rowHeight) + 10px);
    padding: 5px;
    margin-right: 1px;
    border: 2px solid;

    /*filter: drop-shadow(2px 2px 3px gray);
    text-shadow: 1px 1px Canvas;
    */
  }

  .syscolors-cell-text {
    border-color: var(--borderColor);
    border-left: 30px solid var(--borderColor);
    position: relative;
    display: inline-block;
    font-size: small;

    width: 40%;

    .syscolors-name-span {
      font-weight: bold;
      font-size: small;
    }

    .syscolors-desc-span {
      font-size: 90%;
      font-weight: 500;
    }

    .classList {
      padding-inline-start: 1rem;
      margin: 0;
    }
  }

  .syscolors-cell-dark,
  .syscolors-cell-light {
    font-size: smaller;

    width: 25%;

    .syscolors-details-span {
      padding: 0;
    }
  }

  .syscolors-cell-light {
    color-scheme: light;
  }

  .syscolors-cell-dark {
    color-scheme: dark;
  }
}

.syscolors-class-card:has(.syscolors-category-span[category="Category"]) {
  --borderColor: #88888833;
}
/* #region(collapsed) border colors by category */
.syscolors-class-card:has(.syscolors-category-span[category="Accent"]) {
  --borderColor: #00ff0033;
}

.syscolors-class-card:has(.syscolors-category-span[category="Button"]) {
  --borderColor: #ca648a33;
}
.syscolors-class-card:has(.syscolors-category-span[category="Canvas"]) {
  --borderColor: #ff00ff33;
}

.syscolors-class-card:has(.syscolors-category-span[category="Disabled"]) {
  --borderColor: #ffff0033;
}

.syscolors-class-card:has(.syscolors-category-span[category="Field"]) {
  --borderColor: #00ffff33;
}

.syscolors-class-card:has(.syscolors-category-span[category="Highlight"]) {
  --borderColor: #80c8c833;
}

.syscolors-class-card:has(.syscolors-category-span[category="Link"]) {
  --borderColor: #ff000033;
}

.syscolors-class-card:has(.syscolors-category-span[category="Mark"]) {
  --borderColor: #c46d1633;
}

.syscolors-class-card:has(.syscolors-category-span[category="Selected"]) {
  --borderColor: #13a83833;
}
