/* Starter for building your own custom template to supplement the standard Css System Colors */

.myContainer {
  color-scheme: light dark;

  --light-primary: rgb(248, 172, 140);
  --light-secondary: rgb(251, 228, 196);
  --light-contrast: rgb(210, 228, 232);
  /*https://piktochart.com/tips/dark-color-palette: deep indigo, rich violet, soft lavender, crisp white */
  --dark-primary: rgb(75, 0, 130);
  --dark-secondary: rgb(106, 15, 138);
  --dark-contrast: rgb(218, 112, 214);

  /* Use of the light-dark function REQUIRES that "color-scheme: light dark;" is set, generally at the root or the html tag */
  /* To use val's directly... */
  --primary: light-dark(var(--light-primary), var(--dark-primary));
  --secondary: light-dark(var(--light-secondary), var(--dark-secondary));
  --tertiary: light-dark(var(--light-tertiary), var(--dark-tertiary));
  --contrast: light-dark(var(--light-contrast), var(--dark-contrast));
  --bright: light-dark(var(--light-bright), var(--dark-bright));

  /* Or to use classes... */
  .primary {
    color: light-dark(var(--light-primary), var(--dark-primary));
  }
  .secondary {
    color: light-dark(var(--light-secondary), var(--dark-secondary));
  }
  .contrast {
    color: light-dark(var(--light-contrast), var(--dark-contrast));
  }
  .bright {
    color: light-dark(var(--light-bright), var(--dark-bright));
  }

  /* super minimal CSS reset */
  html,
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    /* color: CanvasText; */
    color: var(--primary);
    background-color: Canvas;
  }
}

p,
ol,
ul,
div {
  color: CanvasText;
  background-color: Canvas;
}
