/*******************************************************
*
*  CSS System Colors
*  Use CSS as much as possible to handle light vs dark mode and contrast
*  General CSS for page containers and miscellaneous styling
*/

/*****************************
** Handle light vs dark mode
**/
:root {
  /* allow unstyled HTML to follow user preference via prefers-color-scheme */
  color-scheme: light dark;
  /* --test-color: light-dark(rgb(1, 108, 90) rgb(95, 120, 116)); */
  --contrast: 100;
}
:root:has(#syscolors-lightdark option[value="light"]:checked) {
  color-scheme: light;
}
:root:has(#syscolors-lightdark option[value="dark"]:checked) {
  color-scheme: dark;
}

/*****************************
** Handle contrast
 * NOTE: Apparently just using JS to set --contrast does everything?
 * Don't we also need to apply the 'filter' as below does?!
**/

/* https://css-tricks.com/dark-mode-and-variable-fonts/ */
body {
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  body {
    font-weight: 350;
  }
}

/*
Not used, but may be worth testing! 
https://developer.chrome.com/blog/css-relative-color-syntax/#contrast_a_color */
.well-contrasting-darker-color {
  background: darkred;
  color: oklch(from darkred calc(l + 0.6) c h);
}

.well-contrasting-lighter-color {
  background: lightpink;
  color: oklch(from lightpink calc(l - 0.6) c h);
}

/***************************************************************
 * Page Containers
**/
#syscolors-container {
  padding: 10px;
  border: 1px solid CanvasText;
  border-radius: 0.3em;
  margin: 20px;
  font-family: sans-serif;
}

.syscolors-inner-container {
  border: CanvasText 1px solid;
  border-radius: 0.5em;
  margin: 10px;
  padding: 10px;
  background-color: Canvas;
  color: CanvasText;
}

#syscolors-header {
  margin: 5px;
  padding: 5px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

#syscolors-header h1,
#syscolors-header h3 {
  display: inline-block;
  margin-left: 50px;
}

#syscolors-github {
  margin-left: auto;
  margin-right: 15px;
}

details > summary {
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
}

details > p {
  font-size: 120%;
  /*margin: 15px;
  /*  box-shadow: 1px 1px 2px #bbbbbb;*/
}

#syscolors-options {
  font-weight: bold;
  /* margin: 0px;
  padding: 0px;*/
}

#syscolors-options input:hover {
  box-shadow: rgba(69, 103, 187, 0.35) 0 -25px 18px -14px inset,
    rgba(69, 103, 187, 0.35) 0 1px 2px, rgba(69, 103, 187, 0.35) 0 2px 4px,
    rgba(69, 103, 187, 0.35) 0 4px 8px, rgba(69, 103, 187, 0.35) 0 8px 16px,
    rgba(69, 103, 187, 0.35) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
  background-color: #374151;
}

#syscolors-options input:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#syscolors-user-agent-div {
  font-weight: normal;
  font-size: 80%;
  margin-top: 15px;
}

#syscolors-contrast {
  width: 220px;
  margin-top: 0px;
}

#syscolors-contrast-label {
  font-size: medium;
}

#syscolors-contrast-value {
  display: inline-block;
  /*background-color: #e5e5e5;
  border: #aaa 1px solid;*/
  padding: 2px;
}

#syscolors-intro {
  --noop: var(--noop);
}

#syscolors-grid,
#syscolors-deprecated-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
/*
#syscolors-demo-container {
  display: flex;
  flex-wrap: wrap;
}*/

#syscolors-demo {
  display: flex;
  flex-wrap: wrap;
}

#syscolors-demo-light {
  background-color: white;
  color: black;
  width: 48%;
  margin: 0px;
  margin-right: 6px;
}

#syscolors-demo-dark {
  background-color: black;
  color: white;
  width: 48%;
  margin: 0px;
}

#syscolors-footer {
  font-weight: bold;
}

/* https://cssdeck.com/blog/six-ways-style-blockquotes/ */
blockquote {
  font-style: italic;
  font-size: 135%;
  width: fit-content;
  background-color: #e0e0e0;
  padding: 15px;
  margin: 15px;
  border-radius: 0.5em;
}
